@model Piranha.Areas.Manager.Models.ModuleListModel
@{
    ViewBag.Title = "Modules";
    ViewBag.Controller = "Module";
}

@foreach (var author in Model.Modules.Keys)
{
    var modules = Model.Modules[author];

    for (var n = 0; n < modules.Count; n += 2)
    {
        <div class="row">
            @Html.Partial("Partial/_Module", modules[n])
            @if (n + 1 < modules.Count)
            {
                @Html.Partial("Partial/_Module", modules[n + 1])
            }
        </div>
    }
}
